{% if blogheaderset is defined and blogheaderset == true %}
        <div class="blog-header">
            <h1 class="blog-title">{{ site_title }}</h1>
            <p class="lead blog-description">{{ site_subtitle }}</p>
        </div>
{% endif %}