
            </div><!-- /.blog-main -->
        
            
            {{ include('_sidebar.twig') }}
   
        </div><!-- /.row -->

    </div><!-- /.container -->

    
    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    
    <script src="stylesheets/jquery/jquery-3.2.1.min.js"></script>
    <script src="stylesheets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>