 
        </div>
      </div>
    </div>
    
    <script src="{{ www }}stylesheets/jquery/jquery-3.2.1.min.js"></script>
    <script src="{{ www }}stylesheets/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>